%responsive-screen {
    transition: scale 0.3s ease;
    @include largeDesktopView {
        width: 100%;
        max-width: $large-desktop;
        margin: 0 auto;
    }

    @include desktopView {
        width: 100%;
        max-width: $desktop;
        margin: 0 auto;
    }


    // @include tabletView {
    //     width: 100%;
    //     max-width: $tablet;
    //     margin: 0 auto;
    //     scale: 0.8;
    // }


    @include mobileView {
        width: 100%;
        max-width: $mobile;
        margin: 0 auto;
    }

    // @include xsMobileView {
    //     width: 100%;
    //     max-width: $mobile;
    //     margin: 0 auto;
    //     scale: 0.8;
    // }
}